<div class = "section scrollspy">
    <div class="z-depth-3">
        <div class="card small" style="height: auto">
            <div class="card-content">
                <!-- CARD TITLE -->
                <a class="anchor" id="{{ block }}-block"></a>
                <div class="card-title" style="font-family: Montserrat;">{{ block }} Block ({{ course_name.title() }} - {{ teacher_name }})</div>

                <!-- CARD BODY -->
                <p style="margin-bottom: 25px;"style="font-family: Montserrat;">{{ time }}</p>
                <!--<h4 class="card-title">Primary card title</h4>-->
                <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                <!--<ol class="breadcrumb">-->
                <!--<a href="https://zoom.us/j/{{ meeting_id }}" class="card-link">{{ meeting_id }}</a>-->
                <!--</ol>-->


                <span id="span{{ uuid }}">
                    <button style="background-color: rgb(0,147,213); font-family: Montserrat; margin: 5px;" type="button" class="btn waves-effect waves-light" onclick="window.open('https://zoom.us/j/{{ meeting_id }}'); target='_blank'">Join Class<span id="full-text"> (id: {{ meeting_id }})</span></button>
                </span>
                {% if office_meeting_id %}
                    <button style="background-color: rgb(0,147,213); font-family: Montserrat; margin: 5px;" type="button" class="btn waves-effect waves-light" onclick="window.open('https://zoom.us/j/{{ office_meeting_id }}'); target='_blank'">Office Hours<span id="full-text"> (id: {{ office_meeting_id }})</span></button>
                {% endif %}
                <hr style="margin-top: 25px; border: 1px solid rgb(187, 187, 187);">

                {% if user_can_change %}
                    <input type="text" class="form-control meeting_id{{ uuid }}" placeholder="Change Class ID" value=""id="meeting_id{{ uuid }}" style="margin-top: 25px; border-bottom: 1px solid #333 ; box-shadow: 0 1px 0 0 #000;">
                {% endif %}

                <p id="course{{ uuid }}" hidden>{{ course }}</p>
                <p class="section{{ uuid }}" hidden>{{ sec }}</p>
            </div>
        </div>
    </div>
</div>
