<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choate Zoom Coordinator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.4.1/cerulean/bootstrap.min.css" integrity="sha256-zCHsVYGTqGR4WvnguOpcJQuL1wBiEgiiACzjfh0M0Ak=" crossorigin="anonymous" />
        <!--text-align: center;-->
        <!--position: relative;-->
        <!--top: 50%;-->
        <!--transform: translateY(-50%);-->
    <script>
           function sendRequest(fd, loc) {
                var xhr = new XMLHttpRequest();
                xhr.onload = function(e) {
                    if (this.readyState === 4) {
                        console.log("Server returned: ", e.target.responseText);
                        if (e.target.responseText == "Success!") {
                            //window.location.replace("https://www.choate.edu");
                        }
                    }
                };
                xhr.timeout = 5000;
                xhr.open("POST", loc, true);
                xhr.send(fd);
                console.log(fd);
                for (var value of fd.values()) {
                   console.log(value);
                }
                for (var value of fd.keys()) {
                   console.log(value);
                }
            }
{{ card_js }}
    </script>
</head>
<body>
    <div>
        <div class="bs-component">
              <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand " href="#">CZC</a>

                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse" id="navbarColor01">
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>
    </div>
    <div class="container">
        {{ cards }}
    </div>
</body>
</html>
