<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>Choate Zoom Coordinator</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import Montserrat Google Font-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Montserrat:bold" rel="stylesheet">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" integrity="sha256-OweaP/Ic6rsV+lysfyS4h+LM6sRwuO3euTYfr6M124g=" crossorigin="anonymous" />
        <!--Import JQuery-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <!--Import Brython-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.8.8/brython.min.js" integrity="sha256-o/getzwHeAq4xcWJ350CFg+70KNoYxxdK8ikIp76hIM=" crossorigin="anonymous"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155202040-3"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-155202040-3');
        </script>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NCQSS44');</script>
        <!-- End Google Tag Manager -->

        <link rel="icon" href="https://www.choate.edu/uploaded/favicon-crh.ico">
  
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <style>
            input-field input[type=text]:focus {border-bottom: 1px solid #00b0ff ; box-shadow: 0 1px 0 0 #000;}
        </style>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
            $(document).ready(function () {
                $('.collapsible').collapsible();
            })
        </script>
        <script>
            function sendRequest(fd, loc) {
                 var xhr = new XMLHttpRequest();
                 xhr.onload = function(e) {
                     if (this.readyState === 4) {
                         console.log("Server returned: ", e.target.responseText);
                         if (e.target.responseText == "Success!") {
                             window.location.reload()
                         }
                     }
                 };
                 xhr.timeout = 5000;
                 xhr.open("POST", loc, true);
                 xhr.send(fd);
                 console.log(fd);
                 for (var value of fd.values()) {
                    console.log(value);
                 }
                 for (var value of fd.keys()) {
                    console.log(value);
                 }
             }
            {{ card_js }}

            $(document).ready(function(){
                $('.scrollspy').scrollSpy();
            });

            $(document).ready(function(){
                $('.sidenav').sidenav();
            });

            $(document).ready(function () {
                $('.collapsible').collapsible();
            })

            function reload(){
                var uri = '/up'
                var xhr = new XMLHttpRequest();
                xhr.open("GET", uri, false);
                xhr.send(null);
                if (xhr.status == 200 && xhr.responseText == "Yay!") {
                    //is online
                    location.reload()
                } else {
                    //is offline
                    return null;
                }
            }

            $(setInterval(reload, 30000));
            
        </script>
        <style>
            html, body, h1, h2, h3, h4, h5, h6 {
                font-family: Montserrat;
            }

            .card { /* Credit: https://stackoverflow.com/questions/39031224/how-to-center-cards-in-bootstrap-4 */
                float: none;
                margin: 0 auto 10px;
            }

            .egg {
                color: white;
            }
            .egg::selection {
                background-color: pink;
            }

            a.anchor {
                display: block;
                position: relative;
                top: -10rem;
                visibility: hidden;
            }

            #short-text { display: none; }

            /*When resolution <= 1200px, hide full text and show short text*/
            @media (max-width: 1200px) {
                #short-text { display: inline-block; }
                #full-text { display: none; }
            } /* Credit: https://stackoverflow.com/questions/39894291/how-to-change-text-not-font-size-according-to-screen-size-in-css*/
        </style>
    </head>
  
    <!-- MAIN BODY -->
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NCQSS44"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        
        <!-- HEADER -->
        <div class="navbar-fixed">
            <nav style="background-color: #005596;">
                <div class = "nav-wrapper z-depth-3" style = "padding-left: 10%; padding-right: 10%;" >
                    <a href="/" id="full-text" class="brand-logo" style="font-family: Montserrat; font-weight: 900 !important; font-size: 3rem;">Choate Zoom Coordinator</a>
                    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <a href="/" id="short-text" class="brand-logo short-text" style="font-family: Montserrat; font-weight: 900 !important; font-size: 3rem;">CZC</a>
                    <ul class="right"> 
                        <li><a href="/logout" id="short-text"><i class="material-icons right">exit_to_app</i></a></li>    
                    </ul>
                    <ul class = "right hide-on-med-and-down">
                        <li>
                            <div class="center row">
                                <div class="col s12" >
                                    <div class="row" id="topbarsearch">
                                        <div class="input-field col s6 s12 red-text">
                                            <!--<i class="white-text material-icons prefix">search</i>-->
                                            <form action="/search">
                                                <div class="input-field" style="background-color: rgba(255, 255, 255, 0.25);">
                                                    <input id="search" type="search" style="height: auto" name="search" required>
                                                    <label class="label-icon" for="search" style="background-color: rgba(0, 0, 0, 0);"><i class="material-icons">search</i></label>
                                                    <input type="submit" style="display: none" />
                                                </div>
                                            </form>
                                            <!--<input type="text" placeholder="search" id="autocomplete-input" class="autocomplete white-text" >-->
                                        </div>
                                    </div>
                                </div>
                            </div>          
                        </li>    
                        <li><a href="/logout" id="full-text"><i class="material-icons">exit_to_app</i></a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <ul id="slide-out" class="sidenav">
            <li>
                <div class="row" id="topbarsearch">
                    <div class="input-field col s6 s12 red-text">
                        <!--<i class="white-text material-icons prefix">search</i>-->
                        <form action="/search">
                            <div class="input-field" style="background-color: rgba(255, 255, 255, 0.25); padding-right: 25%; padding-left: 5%">
                                <input id="search" type="search" style="height: auto; padding-left: 20%;" name="search" required>
                                <label class="label-icon" for="search" style="background-color: rgba(0, 0, 0, 0);"><i class="material-icons">search</i></label>
                                <input type="submit" style="display: none" />
                            </div>
                        </form>
                        <!--<input type="text" placeholder="search" id="autocomplete-input" class="autocomplete white-text" >-->
                    </div>
                </div>
            </li>
                {% if calendar_token %}

                <a class="waves-effect waves-light btn" style="background-color: #7DA7D9; font-family: Montserrat; margin-left: 2.75rem; margin-bottom: 1rem;" href="/api/calendar.ics?token={{ calendar_token }}&email={{ email }}&first={{ firstname }}&last={{ lastname }}"><i class="material-icons left">today</i>Add to Calendar</a>
                {% endif %}


            <li>
                <div style="position: fixed; margin-left:.75rem;">
                    <h5 style="padding-left: 1rem;"><b>FAQs</b></h6>
                    <h6 style="padding-left: 1rem"><b>How do I update a Zoom ID?</b></h6>
                    <p style="padding-left: 1rem; font-size: 1rem; padding-right: 25%; line-height: normal;">Under the join class button, enter the new meeting ID into the text field. The ID will automatically update when the link is confirmed to be valid.</p>
                    <h6 style="padding-left: 1rem"><b>Why can't I see my teacher's office hours Zoom ID?</b></h6>
                    <p style="padding-left: 1rem; font-size: 1rem; padding-right: 25%; line-height: normal;">Office Hours ID buttons only show up when a teacher has set their office hours Zoom ID. Please contact your teacher asking them to update their ID.</p>
                    <a class="waves-effect waves-light btn" style="background-color: #7DA7D9; font-family: Montserrat; margin-bottom: 0.5rem;" href="/static/RemoteLearningDailySchedule319.pdf"><i class="material-icons left">picture_as_pdf</i>Daily Schedule (PDF)</a>
                    <a class="waves-effect waves-light btn" style="background-color: #7DA7D9; font-family: Montserrat; margin-bottom: 0.5rem;" href="/static/SpringSpecialSchedules2020.pdf"><i class="material-icons left">picture_as_pdf</i>Special Schedule (PDF)</a>
                </div>
            </li>
          </ul>
        <!-- CARDS -->

        <div class="row container">
            <div class="col s12 m8 offset-m1 xl7">
                <br>
                <h4 style="font-family: Montserrat; font-weight: 700; font-size: 36px;">
                    {{ top_label }}
                </h4>
                {{ cards }}
            </div>

            <!-- TABLE OF CONTENTS -->
            <div class="col hide-on-small-only m3 l2 container">
                <div style="position: fixed; margin-left:.75rem; margin-right: .75rem; margin-top: 1.5rem" >
                    <h6 style="margin-bottom: -1.5rem; text-decoration: underline;"><b>Jump to a class:</b></h6>
                    <ul class="section table-of-contents">
                        {{ toc }}
                    </ul>
                    
                {% if calendar_token %}

                <a class="waves-effect waves-light btn" style="background-color: #7DA7D9; font-family: Montserrat; margin-bottom: 1rem;" href="/api/calendar.ics?token={{ calendar_token }}&email={{ email }}&first={{ firstname }}&last={{ lastname }}"><i class="material-icons left">today</i>Add to Calendar</a>
                {% endif %}

                    <ul class="collapsible" data-collapsible="accordion" style="width: 20rem">
                        <li>
                            <div class="collapsible-header">
                                How do I update a Zoom ID?
                            </div>
                            <div class="collapsible-body"><p>Under the join class button, enter the new meeting ID into
                                the text field. The ID will automatically update when the link is confirmed to be
                                valid.</p></div>
                        </li>

                        <li>
                            <div class="collapsible-header">
                                Why can't I see my teacher's office hours Zoom ID?
                            </div>
                            <div class="collapsible-body"><p>Office Hours ID buttons only show up when a teacher has set
                                their office hours Zoom ID. Please contact your teacher asking them to update their
                                ID.</p></div>
                        </li>
                    </ul>

                    <a class="waves-effect waves-light btn" style="background-color: #7DA7D9; font-family: Montserrat; margin-top: 1rem;" href="/help"><i class="material-icons left">help_outline</i>More help</a>
                    
                    <br>
                    <br>

                    <a class="waves-effect waves-light btn" style="background-color: #7DA7D9; font-family: Montserrat; margin-bottom: 1rem;" href="/static/RemoteLearningDailySchedule319.pdf"><i class="material-icons left">picture_as_pdf</i>Daily Schedule (PDF)</a>

                    <a class="waves-effect waves-light btn" style="background-color: #7DA7D9; font-family: Montserrat; margin-bottom: 1rem;" href="/static/SpringSpecialSchedules2020.pdf"><i class="material-icons left">picture_as_pdf</i>Special Schedule (PDF)</a>

                    <p class="egg">baby</p>
                </div>
            </div>
        </div>
        
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large yellow darken-3" href="#top">
                <i class="large material-icons">arrow_upward</i>
            </a>
        </div>

        <!-- FOOTER -->
        <div class="container">
            <!--<hr>-->
            <footer id="footer">
                <div class="row">
                    <div class="col s12 m6 l6">
                    <ul class="list-unstyled">
                        <li>Open source on <a href="https://github.com/ChoateProgrammingUnion/zoom-coordinator">GitHub</a> with the <a href="https://choosealicense.com/licenses/gpl-3.0/">GPLv3 license</a>. Commit <a href="https://github.com/ChoateProgrammingUnion/zoom-coordinator/commit/{{commit}}">{{ commit[0:5] }}</a>.</li>
                        <a rel="noopener" href="https://github.com/ChoateProgrammingUnion/zoom-coordinator/blob/master/LICENSE"><img style="padding-top: 5px" src="https://img.shields.io/badge/license-GPLv3-brightgreen.svg"></a>
                    </ul>
                    <p>Website created by the Choate Programming Union.<br /> </p>
                    <p>Team: <a href="https://max.fan/index.html">Max Fan</a> (Lead, Frontend, Backend), Ethan Chapman (Frontend and Backend), Spencer Bowles (Frontend), <a href="https://natekrauss.me/">Nate Krauss</a> (Frontend), and Aiyu Kamate (Quality Assurance).</p>
                    <p>Email us if you encounter any problems.</p>
                        <!-- <p>Number of git commits: {{ number_of_commits }} Last commit: {{ last_commit }}</p> -->
                    </div>
                </div>
            </footer>
        </div> 


        <!--JavaScript at end of body for optimized loading-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" integrity="sha256-U/cHDMTIHCeMcvehBv1xQ052bPSbJtbuiw4QA9cTKz0=" crossorigin="anonymous"></script>

    </body>
</html>
