<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>Choate Zoom Coordinator</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import Montserrat Google Font-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Montserrat:bold" rel="stylesheet">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" integrity="sha256-OweaP/Ic6rsV+lysfyS4h+LM6sRwuO3euTYfr6M124g=" crossorigin="anonymous" />

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>

        <div class="row container section">
            <h1>Welcome to the<br><b>Choate Zoom Coordinator</b></h1>
            <p>This website allows students and teachers to easily save and access Zoom meeting IDs. Meeting IDs are displayed on buttons and link directly to the meeting.</p>
            <p><strong>Developers' note:</strong> Teacher names are not in the correct order due to inconsistencies in the way ITS gave the name of each teacher. Some of the names were given in reverse-order, others were given in an incorrect reverse order, and others were given in a different ordering scheme. Please be patient while we work to fix this.</p>
            <div class="divider"></div>
        </div>
        
        <div class="row container">
            <div class="col s6 m5 card white-text z-depth-3" style="background-color: #005596; padding: 1rem; font-family: Montserrat;">
                <h4>Information for <b>Teachers:</b></h4>
                <p style="font-family: Montserrat; font-size: 1.25rem">Teachers can set their <b>office hours</b> and <b>classes</b> Zoom meeting IDs. Any changes made by a teacher will overwrite a student's individual data.</p>
            </div>

            <div class="col s1 m2"></div>

            <div class="col s6 m5 card white-text z-depth-3" style="background-color: #005596; padding: 1rem; font-family: Montserrat;">
                <h4>Information for <b>Students:</b></h4>
                <p style="font-family: Montserrat; font-size: 1.25rem;">Students can set their <b>classes</b> Zoom meeting IDs, but these changes do not effect other students' data. In addition, students can view and search for a teacher's office hours ID when it is set.<br><br>Classes are ordered chronologically and display its starting time.</p>
            </div>
        </div>

        <div class="row container">
            <br>
            <div class="divider"></div>
            <div class="center-align" style="padding: 2.5rem">
                <!-- Credit: https://stackoverflow.com/questions/46654248/how-to-display-google-sign-in-button-using-html -->
                <a class="oauth-container btn darken-4 white black-text" href="/login" style="text-transform:none">
                    <div class="left">
                        <img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                    </div>
                    Login with Google
                </a>
            </div>
        </div>

        <!-- FOOTER -->
        <div class="container">
            <hr>
            <br>
            <!--<hr>-->
            <footer id="footer">
                <div class="row">
                    <div class="col-lg-12">
                    <ul class="list-unstyled">
                        <li><a href="https://github.com/ChoateProgrammingUnion/zoom-coordinator">GitHub</a></li>
                    </ul>
                    <p>Website created by the Choate Programming Union.<br /> </p>
                    <p>Team: Max Fan (Lead, Frontend, Backend), Ethan Chapman (Backend), Spencer Bowles (Frontend), Nate Krauss (Frontend), and Aiyu Kamate (Quality Assurance).</p>
                        <!-- <p>Number of git commits: {{ number_of_commits }} Last commit: {{ last_commit }}</p> -->
                    </div>
                </div>
            </footer>
        </div> 


        <!--JavaScript at end of body for optimized loading-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" integrity="sha256-U/cHDMTIHCeMcvehBv1xQ052bPSbJtbuiw4QA9cTKz0=" crossorigin="anonymous"></script>

    </body>
</html>
