        <div class="row container">
            <br>
            <div class="divider"></div>
            <div class="center-align" style="padding: 2.5rem">
                <!-- Credit: https://stackoverflow.com/questions/46654248/how-to-display-google-sign-in-button-using-html -->
                <a class="oauth-container btn darken-4 white black-text" href="/login" style="text-transform:none">
                    <div class="left">
                        <img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                    </div>
                    Login with Google
                </a>
            </div>
        </div>
