<div class = "z-depth-3">
    <div class="card small" style="height: auto">
        <div class="card-content">
            <!-- CARD TITLE -->
            <div class="card-title">
                {{ name }}
            </div>

            <!-- CARD BODY -->
            <!--<h4 class="card-title">Primary card title</h4>-->
            <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
            <!--<ol class="breadcrumb">-->
            <!--<a href="https://zoom.us/j/{{ meeting_id }}" class="card-link">{{ meeting_id }}</a>-->
            <!--</ol>-->

            <button style="background-color: rgb(0,147,213); font-family: Montserrat; margin: 5px;" type="button" class="btn waves-effect waves-light" onclick="window.open('https://zoom.us/j/{{ office_id }}');" target='_blank'>Join Zoom Meeting<span id="full-text"></span> (id: {{ office_id }})</span></button>
        </div>
    </div>
</div>